 /* reset------------------------------------------------------------------------- */
 * {
   margin: 0;
   padding: 0;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 ul,
 ol {
   list-style: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: inherit;
   font-weight: normal;
 }

 address,
 i,
 em {
   font-style: normal;
 }

 strong,
 b {
   font-weight: normal;
 }

 table {
   border-collapse: collapse;
 }

 img {
   max-width: 100%;
 }

 /* common------------------------------------------------------------------------- */

 @font-face {
   font-family: 'Pretendard Variable';
   font-weight: 45 920;
   font-style: normal;
   font-display: swap;
   src: local('Pretendard Variable'), url('./images/PretendardVariable.woff2') format('woff2-variations');
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-Thin.woff') format('woff');
   font-weight: 100;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-ExtraLight.woff') format('woff');
   font-weight: 200;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-Light.woff') format('woff');
   font-weight: 300;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-Medium.woff') format('woff');
   font-weight: 500;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-SemiBold.woff') format('woff');
   font-weight: 600;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-Bold.woff') format('woff');
   font-weight: 700;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-ExtraBold.woff') format('woff');
   font-weight: 800;
   font-display: swap;
 }

 @font-face {
   font-family: 'Pretendard';
   src: url('./images/Pretendard-Black.woff') format('woff');
   font-weight: 900;
   font-display: swap;
 }

 html {
   font-size: 14px;
 }

 .btn_top {
   position: fixed;
   right: 30px;
   bottom: 30px;
   width: 60px;
   height: 60px;
   background: url(../img/SVG/topbtn.svg) no-repeat;
   cursor: pointer;
   z-index: 10000;
 }

 header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1000;
   height: 80px;
   transform: all 0.5s ease 0s;
   font-family: 'Pretendard-Regular'
 }

 header.sma {
   background: #000;
 }

 header:after {

   display: none;
 }

 header.active {
   transform: translateY(-100%);

 }

 header.on:after {
   display: block;
   content: "";
   position: absolute;
   top: 76px;
   left: 0;
   width: 100%;
   height: 80px;
   background: rgba(0, 0, 0, 0.4);
 }

 .logoarea {
   width: 150px;
   height: 40px;
   position: absolute;
   top: 50%;
   left: 25PX;
   transform: translateY(-50%);
 }

 .gnb>ul {
   width: 790px;
   margin: 0 auto;
   display: flex;
   height: 80px;
   z-index: 5;
   position: relative;
 }


 .gnb>ul>li {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-weight: 200;
   font-size: 0.5rem;
   height: 100%;
 }

 .gnb>ul>li:hover {
   color: #D6681C;
 }

 .gnb>ul>li div {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   top: 76px;
   width: 100%;
   height: 80px;
   text-align: left;

 }

 .gnb>ul>li div>ul {
   display: flex;
   font-size: 1.5rem;
   align-items: center;
 }

 .gnb>ul>li li {
   margin: 0 45px;
   font-size: 1.1rem;
   font-weight: 200;
 }

 .gnb>ul>li li:hover {
   background: linear-gradient(45deg, #F7C200, #E6561A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: bold;
 }

 .gnb>ul>li:hover div {
   display: flex;
   opacity: 1;
   pointer-events: auto;
   color: #fff;

 }

 .sMovie {
   margin: 0 auto;
 }

 .gnb>ul>li>a {
   font-size: 1.4rem;
   font-weight: 600;
 }

 .gnb>ul>li>a {
   position: relative;
   width: 100%;
   display: block;
   text-align: center;
 }



 .gnb>ul>li>a:after {
   content: "";
   width: 100%;
   height: 3px;
   position: absolute;
   background: linear-gradient(45deg, #F7C200, #E6561A);
   left: 0;
   top: 46px;
   opacity: 0;
   transition: all 0s ease 0s;
 }

 .gnb>ul>li:hover a:after {
   opacity: 1;
 }




 nav.sns>ul {
   display: flex;
   width: 80px;
   position: absolute;
   right: 90px;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 nav.sns>ul>li {
   /* flex: 1; */
   /* border: 1px solid blue; */
   justify-content: center;
   padding-right: 18px;
   color: #fff;
   transition: all 0.4s ease 0s;
 }

 .fa-facebook-f:hover {
   color: #3b5998;
 }

 .fa-youtube:hover {
   color: #c4302b
 }

 .fa-instagram:hover {
   background: linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 nav.sns>ul>li:last-of-type {
   padding-right: 0;
 }

 nav>* {
   cursor: pointer;
 }

 .langList>button {
   background: none;
   border: none;
   display: flex;
   position: absolute;
   right: 30px;
   top: 50%;
   color: #fff;
   transform: translate(-50%, -50%);
 }

 .langList>button>img {
   width: 15px;
   height: 15px;
   padding-right: 5px;
   object-fit: contain;
 }

 .langList>ul {
   width: 100px;
   height: 0px;
   overflow: hidden;
   background: #1d1d1d;
   position: absolute;
   top: calc(100% + -15px);
   right: 30px;
   align-items: center;
   transition: all 0.4s ease 0s;
   border-radius: 10px;
 }

 .langList>ul.on {
   height: 80px;
 }

 .langList li {
   width: 100%;
   height: 50%;
   color: #fff;
   font-size: 1.1rem;
   display: flex;
   align-items: center;
   justify-content: center;

 }

 .langList li:hover {
   color: #D6681C;
 }



 /* main----------------------------- */

 main {
   position: relative;
   font-family: 'Noto Sans KR', sans-serif;
 }

 .videoBanner {
   height: 100vh;
   position: relative;
 }

 .videoBanner:after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.1);
 }

 .videoBanner video {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .flotingTxt {
   font-family: 'Mukta', sans-serif;
   color: #fff;
   position: absolute;
   left: 19%;
   top: 570px;
   z-index: 10;
   text-align: center;
 }

 .floating_1 {
   font-size: 2.8rem;
   text-align: left;
   padding-bottom: 8px;
 }

 .floating_1center {
   font-size: 2rem;
 }

 .logoTypo {
   width: 810px;
 }

 .floting_2 {
   text-align: left;
   font-size: 1.7rem;
   font-weight: 300;
   padding-top: 7px;
   letter-spacing: 1px;
 }






 .catchphrase {
   background: #1E1B1B;
   height: 100vh
 }

 .up>* {
   display: flex;
   justify-content: center;

 }

 .up>h2 {
   font-size: 6rem;
   padding-top: 140px;
   padding-bottom: 45px;
   color: #D6681C;
   font-weight: 700;
 }

 .up>p {
   color: #fff;
   font-size: 1.7rem;
   padding-bottom: 150px;
 }

 .catchphrase img {
   width: 712px;
   height: 13px;
   margin: 0 auto;
 }

 .down>h4 {
   font-size: 3.5rem;
   color: #D6681C;
   font-weight: 700;
   margin-top: 85px;
   margin-bottom: 60px;
 }

 .down span {
   color: #D6681C;
 }

 .down>* {
   display: flex;
   justify-content: center;
 }

 .down>p {
   color: #fff;
   font-size: 1.7rem;
   text-align: center;
   margin-bottom: 100px;
 }

 /* ---------------------------------------------------------- */

 .ad {
   position: relative;
   width: 100%;
   height: 480px;
 }

 .ad>img {
   width: 100%;
   height: 480px;
 }

 .floatingAd {
   position: absolute;
   top: 50%;
   left: 50%;
   color: #fff;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .floatingAd>p {
   font-size: 4rem;
   font-weight: 600;
   margin-bottom: 40px;
 }

 .floatingAd>a {
   border: 1px solid #fff;
   font-size: 1.3rem;
   padding: 6px 10px;
   font-weight: 300;
 }

 /* -------------------------------------------------------------------- */

 .movieslider {
   background: #1E1B1B;
   width: 100%;
   height: 100vh;
   font-family: 'Pretendard-Regular';
   position: relative;
   color: #fff;
   font-size: 1.1rem;

 }

 .movieslider>h1 {
   color: #fff;
   font-size: 3.2rem;
   text-align: center;
   padding-top: 87px;
   position: relative;
 }

 .number {
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 800;
   position: absolute;
   font-size: 26rem;
   top: 0;
   left: 5%;
   transform: translate(-10%, -5%);
   opacity: 0.1;
   letter-spacing: -25px;
 }

 .top5leftIn {
   position: absolute;
   top: 24%;
 }

 .movieslider>.top5left {
   width: 1200px;
   margin: 0 auto;
 }

 .movieslider>.top5left h4 {

   font-size: 2.6rem;
   font-weight: 200;
   margin-bottom: 30px;
 }

 .about5 {
   margin-bottom: 30px;
 }

 .con5 {
   line-height: 170%;
   font-weight: 200;
   margin-bottom: 40px;
 }

 .moreview {
   border: 1px solid #fff;
   border-radius: 50px;
   display: inline-block;
   padding: 5px 22px;

 }

 .station_top5right {
   width: 50%;
   /* height: 600px; */
   overflow: hidden;

   position: absolute;
   top: 9%;
   right: -24%;

 }

 .train_right {
   /* display: flex; */
   /* height: 100%;
   width: calc(500%/1); */
   transition: all 1s ease 0s;
 }


 .train_right>li>img {
   width: 420px;
   height: 100%;
   overflow: hidden;

 }

 .train_right>li {
   width: 20%;
   height: 100%;
 }

 .controler {
   position: absolute;
   left: 70%;
   top: 87%;
   width: 90%;
   display: flex;
 }


 .controler>a {
   padding: 10px;
   cursor: pointer;
   background: #fff;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   transition: all 0.3s ease 0s;
   margin-left: 20px;
 }

 .controler>*:hover {
   background: linear-gradient(45deg, #F7C200, #E6561A);
 }

 .controler i {
   color: #0F1C3F;
   display: inline-block;
   margin-left: 5px;
 }

 /* showboxnow */

 .showboxNow {
   position: relative;
   font-family: 'Pretendard-Regular';
   width: 1200px;
   height: 90vh;
   margin: 0 auto;

 }

 .nowTitle {
   border: 0px solid orangered;
   color: #000;
   font-size: 3rem;
   text-align: center;
   padding-top: 87px;
   font-weight: 800;
 }

 .nowTitle>p {
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 1.3rem;
   padding-top: 17px;
   font-weight: 200;
   margin-bottom: 80px;
 }

 .nowContents>ul {
   display: flex;

   height: calc(80vh - 250px);
   position: relative;
   justify-content: space-between;
 }

 .nowContents li {
   width: calc(1200px/3 - 30px);
   position: relative;
   border: 1px solid red;
 }



 .nowContents li::before {
   content: "";
   background: #0F1C3F;
   height: 3px;
   width: calc(1200px/3 - 30px);
   position: absolute;
   left: 0;
   top: 0;
   transition: all 0.7s ease-out 0s;
 }

 .nowContents li.on::before {
   background: linear-gradient(45deg, #F7C200, #E6561A);

 }


 .nowContents img {
   width: 90%;
   height: 90%;
   display: block;
   margin: 0 auto;
   border: 1px solid red;
   transition: all 0.7s ease-out 0s;
 }

 .nowContents img.sbL:hover {
   background: url(../img/SVG/showboxLhover);
 }


 .showboxN>h5 {
   font-size: 1.8rem;
   margin: 16px 0;
 }

 .showboxN>p {
   font-size: 1.2rem;
   font-weight: 500;
 }



 /* footer-------------------- */

 footer {

   bottom: 0;
   left: 0;
   font-family: 'Noto Sans KR', sans-serif;
   height: 150px;
   width: 100%;
   background: #0F1C3F;
 }

 .innerFooter {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   display: flex;
 }


 .fLogo {
   width: 120px;
   height: 100%;
   margin: 12px;
   padding-left: 5px;
 }

 .fLogo>img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   margin-top: 18px;
 }

 .corIn {
   color: #B5B5B5;
   margin: 20px;
   font-size: 1rem;
   align-items: center;
   padding-top: 18px;
   padding-left: 10px;
 }

 .corIn>.address {
   margin-bottom: 10px;
 }

 .corIn>.address>address {
   margin-bottom: 5px;
 }

 .copy {
   font-size: 0.8rem;
   padding-top: 9px;
 }

 .familysite {
   /* border: 1px solid red; */
   position: absolute;
   right: -50px;
   top: 50%;
   transform: translate(-50%, 0);
   color: #fff;
   cursor: pointer;
 }

 .familysite>button {
   background: none;
   border: none;
   font-size: 1.3rem;
   font-weight: 700;
   color: #fff;
 }

 .familysite>i {
   padding-left: 3px;
 }

 .familysite>ul {
   width: 100%;
   height: 25px;
   overflow: hidden;
   background: #fff;
   position: absolute;
   border-radius: 12px;
   align-items: center;
   color: #0F1C3F;
   top: -180%;
   transition: all 0.3s linear 0s;
   opacity: 0;

 }

 .familysite>ul.on {
   opacity: 1;
   padding: 3px 0 3px 5px;
 }

 .familysite li {
   width: 100%;
   font-size: 1.2rem;
   font-weight: 700;
   display: flex;
   justify-content: flex-start;
 }

 .familysite ul i {
   padding-left: 41px;
 }


 /* sub1.movie---------------------------------------------- */

 .sub_header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   /* background: #000; */
   z-index: 1000;
   height: 60px;
   transform: all 0.5s ease 0s;
   font-family: 'Pretendard-Regular'
 }

 .sub_header:hover:after {
   content: "";
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
   height: 60px;
   background: #fff;
 }

 .sub_logoarea {
   width: 120px;
   height: 30px;
   position: absolute;
   top: 50%;
   left: 14PX;
   transform: translateY(-50%);
 }

 .sub_gnb>ul {
   border: 1px solid LIME;
   width: 790px;
   margin: 0 auto;
   display: flex;
   height: 60px;
   z-index: 5;
   position: relative;
 }


 .sub_gnb>ul>li {
   flex: 1;
   display: flex;
   border: 1px solid red;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-weight: 300;
   font-size: 0.4rem;
   height: 100%;
 }

 .sub_gnb>ul>li:on {
   color: #D6681C;
 }


 .sub_gnb>ul>li div {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   top: 60px;
   width: 100%;
   height: 60px;
   border: 1px solid red;
   text-align: left;

 }

 .sub_gnb>ul>li div>ul {
   border: 1px solid green;
   display: flex;
   font-size: 1.5rem;
   align-items: center;
 }

 .sub_gnb>ul>li li {
   border: 1px solid red;
   margin: 0 45px;
   font-size: 1.1rem;
   font-weight: 100;
 }

 .sub_gnb>ul>li:hover div {
   display: flex;
   opacity: 1;
   pointer-events: auto;
   color: #5b7cd6;

 }

 .sMovie {
   margin: 0 auto;
 }

 .sub_gnb>ul>li>a {
   font-size: 1.4rem;
   font-weight: 600;
 }

 .sub_gnb>ul>li>a {
   position: relative;
   width: 100%;
   display: block;
   text-align: center;
 }



 .sub_gnb>ul>li>a:after {
   content: "";
   width: 100%;
   height: 3px;
   position: absolute;
   background: linear-gradient(45deg, #F7C200, #E6561A);
   left: 0;
   top: 46px;
   opacity: 0;
   transition: all 0s ease 0s;
 }

 .sub_gnb>ul>li:hover a:after {
   opacity: 1;
 }




 nav.sub_sns>ul {
   display: flex;
   width: 80px;
   position: absolute;
   right: 90px;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 nav.sub_sns>ul>li {
   flex: 1;
   border: 1px solid blue;
   justify-content: center;
   padding-right: 18px;
   color: #fff;
 }

 nav.sub_sns>ul>li:last-of-type {
   padding-right: 0;
 }


 nav.sub_langList {
   border: 1px solid red;
 }

 .sub_langList>button {
   background: none;
   border: none;
   display: flex;
   position: absolute;
   right: 30px;
   top: 50%;
   color: #fff;
   transform: translate(-50%, -50%);
 }

 .sub_langList>button>img {
   width: 15px;
   height: 15px;
   padding-right: 5px;
   object-fit: contain;
 }

 .sub_langList>ul {
   width: 100px;
   height: 80px;
   overflow: hidden;
   background: #1d1d1d;
   position: absolute;
   top: calc(100% + -15px);
   right: 30px;
   align-items: center;
 }

 .sub_langList>ul.on {
   height: 80px;
 }


 .sub_langList li {
   width: 100%;
   height: 50%;
   color: #fff;
   font-size: 1.1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid red;
 }

 .sub_langList li:hover {
   color: #D6681C;
 }

 .titleBanner {
   width: 100%;
   height: 310px;
   background: #0F1C3F;
   position: relative;
   margin-bottom: 90px;
 }

 .titleBanner>h1 {
   border: 1px solid red;
   font-family: 'Francois One', sans-serif;
   color: #fff;
   font-size: 4.5rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 /* sub1 main---------------------------------------------------- */

 .sub_contents_wrap {
   font-family: 'Noto Sans KR', sans-serif;
 }

 .now {
   width: 1200px;
   margin: 0 auto;
 }

 .category {
   border: 1px solid red;
   font-weight: 300;
   margin-bottom: 110px;
   font-size: 1rem;
 }

 .category>ol {
   display: flex;
 }

 .category>ol>li {
   display: inline-blocks;
   cursor: pointer;
 }

 .category>ol>li::after {
   content: '';
   display: inline-block;
   width: 3px;
   height: 3px;
   margin: 0 5px;
   background: #D6681C;
   vertical-align: middle;
 }

 .category>ol>li:last-child:after {
   content: none;
 }

 .nPoster>img {
   width: 350px;
   margin-left: 20px;
 }

 .now>h2 {
   font-size: 2.7rem;
   font-weight: 500;
   margin-bottom: 50px;
 }

 .nTeaser>iframe {
   position: absolute;
   right: 150px;
   top: 100px;
 }

 /* sub3map----------------------- */
 .contactUs {
   margin: 0 auto;
   width: 1200px;
 }

 .map {
   border: 5px solid red;
   display: inline-block;
 }