/* reset------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
i,
em {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
}

/* common------------------------------------------------------------------------- */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 14px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 1000;
  height: 80px;
  transform: all 0.5s ease 0s;
  font-family: 'Pretendard-Regular'
}

header :hover:after {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.4);
}

.logoarea {
  width: 180px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 10PX;
  transform: translateY(-50%);
}

.gnb>ul {
  border: 1px solid LIME;
  background: #000;
  width: 790px;
  margin: 0 auto;
  display: flex;
  height: 80px;
  z-index: 5;
  position: relative;
}


.gnb>ul>li {
  flex: 1;
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
}

.gnb>ul>li:hover {
  color: #D6681C;
}

.gnb>ul>li div {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 80px;
  width: 100%;
  height: 80px;
  border: 1px solid red;
  text-align: left;

}

.gnb>ul>li div>ul {
  border: 1px solid green;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.gnb>ul>li li {
  border: 1px solid red;
  margin: 0 45px;
}

.gnb>ul>li:hover div {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  color: #fff;

}

.sMovie {
  margin: 0 auto;
}

.gnb>ul>li>a {
  font-size: 1.4rem;
  font-weight: 600;
}

.gnb>ul>li>a {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
}



.gnb>ul>li>a:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background: linear-gradient(45deg, #F7C200, #E6561A);
  left: 0;
  top: 46px;
  opacity: 0;
  transition: all 0s ease 0s;
}

.gnb>ul>li:hover a:after {
  opacity: 1;
}




nav.sns>ul {
  border: 1px solid red;
  display: flex;
  width: 80px;
  position: absolute;
  right: 160px;
  top: 50%;
}

nav.sns>ul>li {
  /* flex: 1; */
  border: 1px solid blue;
  justify-content: center;
  padding: 0 7px;
  color: #fff;
}

nav.langList {
  border: 1px solid red;

}

/* main----------------------------- */

main {
  position: relative;
}

.videoBanner {
  height: 100vh;
  position: relative;
}

.videoBanner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.videoBanner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flotingTxt {
  /* border: 1px solid lime; */
  font-family: 'Mukta', sans-serif;
  color: #fff;
  position: absolute;
  left: 19%;
  top: 31%;
  z-index: 10;
  text-align: center;
}

.floating_1 {
  font-size: 2.8rem;
  /* border: 1px solid red; */
  text-align: left;
  padding-bottom: 8px;
}

.floating_1center {
  font-size: 2rem;
}

.logoTypo {
  width: 810px;
}

.floting_2 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 300;
  padding-top: 7px;
  letter-spacing: 1px;
}

/* 
.catchphrase {
  background: #1E1B1B;
  height: 850px;
} */